@model MvcConcepts.Models.main

@{
    ViewBag.Title = "Details";
}
<div id="wrapper">
    <!-- Navigation -->
    <!-- Page Content -->
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-md-8">
                            <h2>Details</h2>

                            <div>
                                <h4>main</h4>
                                <hr />
                                <dl class="dl-horizontal"></dl>
                            </div>
                            <p>
                                @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
                                @Html.ActionLink("Back to List", "Index")
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

